html {
    background-color: #cbf3b8;
    font-size: clamp(10px, 3vw, 16px);
}

.App {
    text-align: center;
    padding: 2rem 0 8rem;
}

.BUTTON_ACTION_common {
    transition: all 0.1s ease-in-out;

    &:active {
        filter: brightness(0.75);
        transform: scale(0.95);
    }

    &:hover {
        filter: brightness(1.1);
    }
}

.BUTTON_ACTION_messageButton {
    transition: all 0.1s ease-in-out;

    &:active {
        filter: brightness(0.75);
        transform: scale(0.95);
    }

    &:hover {
        filter: brightness(1.5);
    }
}

.BATSU {
    max-width: 30px;
    max-height: 30px;
    width: 3vh;
    height: 3vh;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 3px; /* 棒の幅（太さ） */
        height: 30px; /* 棒の高さ */
        background: #ccc;
    }
    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.RELOAD {
    position: relative;
    border: 0.3em solid;
    border-right-color: transparent;
    border-radius: 100%;
    box-sizing: border-box;

    &:before {
        position: absolute;
        top: 0.4em;
        right: -0.5em;
        content: "";
        height: 50%;
        border: 0.6em solid transparent;
        border-top: 0.6em solid;
        background: transparent;
        transform-origin: left top;
        transform: rotate(-45deg);
        box-sizing: border-box;
    }
}

.LOADING-CIRCLE {
    margin: auto;
    border: 4px rgba(0, 0, 0, 0.25) solid;
    border-top: 4px black solid;
    border-radius: 50%;
    animation: spCircRot 2s infinite ease;
}
@keyframes spCircRot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
